section{
    margin: 50px 100px;
}
/* Banner section */
.banner{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%), url('resources/Banner Image.png');
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    background-repeat: no-repeat;
}
.banner-info{
    font-family: Merriweather;
    color: #FFF;
    text-align: center;
}
.banner-p{
    font-size: 32px;
    font-weight: 400;
    padding: 177px 0px 0px 0px;
}
.banner-h1{
    font-size: 72px;
    font-weight: 900;
    padding: 0px 0px 177px 0px;
}

/* Deals section */
.